@media (max-width: 400px) {
    /*en tête */
    .connect{
        margin:0;
        padding-left: 15px;
        padding-right: 15px;
    }
    .header{
        text-align: center;
    }
    .header_text{
        font-size: 150%;
        align-self:baseline;
        display: flex;
        justify-content: center;
    }
    /*footer*/
    .nav_foot{
        text-align: center;
    }
    .nav_foot li{
        display: inline-block;
    }
     /*formulaire connexion*/
    .connex {
       text-align: center;
       margin: 10px;
       
    }
   
    .connex label{
        font-size: 150%;
        margin-bottom:5px;

    }
    .connex input{
        width: 100%;
        height:20px;
        margin-bottom:20px;
        
    }
    .connex button{
        font-size: 150%;
        margin-top: 20px;
    }
    .connex a{
        margin:10px;
        font-size: 100%;
    }
    /*page principale*/
    .present h1,h2{
        text-align: left;
    }
    .present img{
        max-width: 100%;
        height: auto;
        margin-top: 20px;
    }
    .list_part{
        border:solid 4px red;
        padding:10px 5px 30px 5px;
          
    }
    .logo_part{
        border:solid 2px grey;
        padding-bottom: 35px ;
        padding-right: 10px;
        margin-bottom: 10px;
    }
    .logo_part p,h3{
        padding-left: 5px;
    }
    .logo_part img{
        display: flex;
        max-width: 80%;
        height: auto;
        margin:auto;
        text-align: center;
        
    }
    .list_part button{
        float: right;
        margin-bottom: 10px;
        font-size:120%;
    }
    /*page partenaire*/
    .list_part .count_comment{
        width: 50%;
        margin: auto;
    }
    .avis{
        border:solid 2px grey;
        padding: 5px;
        margin-bottom: 10px;
    }
          
    }
    /*formulaire reinit*/
    .reinit{
        border: solid 4px red;
        padding: 10px;
    }
    .reinit form{
        text-align: center;
    }
    .reinit input{
        width: 200px;
        height:20px;
        margin-bottom: 30px;
    }
    .reinit button{
        width: 100px;  
        height:30px;
        display: block;
        margin:auto;
        border-radius: 8px;
        border:2px solid red;
        transition-duration: 0.4s;

    }
    .reinit button:hover{
        width: 100px;  
        height:30px;
        display: block;
        margin:auto;
        border-radius: 8px;
        background-color:red;
        color: white;
    }
    /*formulaire inscription*/
    .new_user{
        border: solid 4px red;
        padding: 10px;
    }
    .new_user label{
        display: block;
        margin-top: 10px;
        font-size: 25px;
    }
    .new_user button{
        display: block;
        width: 100px;  
        height:30px;
        display: block;
        margin:auto;
        margin-top:20px;
        border-radius: 8px;
        border:2px solid red;
        transition-duration: 0.4s;
        
    }
    .new_user button:hover{
        width: 100px;  
        height:30px;
        display: block;
        margin:auto;
        margin-top:20px;
        border-radius: 8px;
        background-color:red;
        color: white;
    }
    .new_user input{
        width: 75%;
        height:25px;
    }
    .new_user select{
        font-size:12px;
        height:35px;
    }









}
    
    
    
      
    
      
    
